{% extends 'core/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block extra_css %}
<!-- Your Extra CSS goes here -->
{% endblock %}

{% block content %}

<div class="container px-0 justify-content-center">
	<div class="row px-md-5 my-5">

    <div class="col-12 pb-1">
    	<div class="row">
				<div class="col-6">
					<div class="neumorphic__card mb-2">
						<div class="card-header bg-success">
							<p class="text-light m-auto text-center">Resources</p>
						</div>
						<div class="col-11 mx-auto">
							<p class="text-dark m-auto p-2 text-center">
								{{ request.user.added_resource_count }}<i class="bi bi-check-circle-fill"></i></p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="neumorphic__card mb-2">
						<div class="card-header bg-danger">
							<p class="text-light m-auto text-center">Clicks</p>
						</div>
						<div class="col-11 mx-auto">
							<p class="text-dark m-auto p-2 text-center">
								244<i class="bi bi-arrow-up-circle-fill"></i></p>
						</div>
					</div>
				</div>
			</div>
    	<div class="neumorphic__card mt-3">
        <div class="card-header bg-dark">
          <p class="text-light m-auto text-center my-2">My Profile Details</p>
        </div>
        <div class="card-body mx-auto my-3">
        	<form action="{% url 'profile_view' %}">
			      <div class="col input-group mb-2">
							<input type="text" id="id_full_name" class="form-control" placeholder="Full Name" aria-label="Name" aria-describedby="button-addon2" disabled {% if request.user.full_name %} value="{{ request.user.full_name }}" {% endif %}>
							<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="undisableTxt(this);"><i class="bi-pencil"></i></button>
						</div>
			      <div class="col input-group mb-2">
							<input type="email" id="id_email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" disabled required {% if request.user.email %} value="{{ request.user.email }}" {% endif %}>
							<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="undisableTxt(this);"><i class="bi-pencil"></i></button>
						</div>
			      <div class="col input-group mb-2">
							<input type="text" id="id_username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="button-addon2" disabled {% if request.user.username %} value="{{ request.user.username }}" {% endif %}>
							<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="undisableTxt(this);"><i class="bi-pencil"></i></button>
						</div>
			      <div class="col input-group mb-2">
							<input type="text" id="id_website" class="form-control" placeholder="Website/Github/Social" aria-label="Website" aria-describedby="button-addon2" disabled {% if request.user.website %} value="{{ request.user.website }}" {% endif %}>
							<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="undisableTxt(this);"><i class="bi-pencil"></i></button>
						</div>
					</form>
				</div>
				<div class="card-footer text-end">
	        <button class="text-decoration-none neumorphic__buttton btn btn-outline-dark text-success" type="submit" aria-label="Update my profile">
	        	<i class="bi bi-check-circle-fill"></i> Update
	        </button>
      	</div>
    	</div>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Your Extra Javascript goes here -->
<script>

	function undisableTxt(el) {
		console.log(el)
	  	el.previousElementSibling.disabled = false;
	}
	
</script>
{% endblock %}
