{% extends 'core/base.html' %}
{% load static %}
{% block title %} {{page_title}} {% endblock %}
{% block content %}

<div class="container">

  <div class="row px-md-5 my-5">
    <div class="col-12 offset-md-2 col-md-8 pb-1">
      <p class="text-secondary text-center display-6">Sign Up</p>
    </div>
    <div class="col-12 offset-md-2 col-md-8 pb-1">
      {% if form.non_field_errors %}
      <div class="col-12 mb-2">
        <p class="text-danger text-center">
          <i class="bi bi-exclamation-circle"></i>
          {{ form.non_field_errors }}
        </p>
      </div>
      {% endif %}
      <form id="signin_form" method="POST" action="{% url 'signup_view' %}">
        {% csrf_token %}
        <div class="neumorphic__card input-group input-group-lg mb-3">
          <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input name="email" type="email" class="form-control" id="id_email" placeholder="Email" required>
        </div>
        {% if form.email.errors %}
          <div class="text-danger">
            {{ form.email.errors }}
          </div>
        {% endif %}

        <div class="neumorphic__card input-group input-group-lg mb-3">
          <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
          <input name="password1" type="password" class="form-control" id="id_password1" placeholder="Password" required>
          <ul><li>Your password can’t be too similar to your email.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
        </div>
        {% if form.password1.errors %}
          <div class="text-danger">
            {{ form.password1.errors }}
          </div>
        {% endif %}

        <div class="neumorphic__card input-group input-group-lg mb-3">
          <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
          <input name="password2" type="password" class="form-control" id="id_password2" placeholder="Retype Password" required>
        </div>
        {% if form.password2.errors %}
          <div class="text-danger">
            {{ form.password2.errors }}
          </div>
        {% endif %}

        <div class="text-start">
          <a href="{% url 'signin_view' %}">Already have an account? Signin</a>
        </div>

        <div class="mb-3 mx-auto text-center mt-3">
          <button class="neumorphic__button btn btn-lg" aria-label="signup button">Sign up</button>
        </div>

      </form>
      
    </div>
  </div> 

</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
