{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
  <div class="row height__100vh">
    <div class="col-12 col-lg-8 mb-5">

      <!-- Navbar Start -->
      <nav class="navbar pb-3 pt-4 mb-4">
        <div class="container px-0 px-md-5">
          <a class="navbar-brand text-reset text-decoration-none round__button neumorphic__button" href="/">
            <i class="bi bi-house-fill"></i>
          </a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'resource_create_view' %}" class="navbar-brand text-reset text-decoration-none px-3 py-2 neumorphic__button">
              <i class="bi bi-plus-circle-fill"></i>
            </a>
          {% else %}
            <a href="{% url 'signin_view' %}" class="navbar-brand text-reset text-decoration-none px-3 py-2 neumorphic__button">
              <i class="bi bi-person-plus-fill"></i>
            </a>
          {% endif %}
        </div>
      </nav>
      <!-- Navbar End -->

      {% block content %}{% endblock %}

    </div>
    <div class="col-12 col-lg-4 text-center" style="background: linear-gradient(#e66465, #9198e5);">
      
      <!-- About Section Start -->
      <section class="sticky-top pt-4">
        <!-- <h3 class="text-light pt-4"><strong>about</strong></h3> -->
        <div class="container">

          <div class="row">
            <div class="col-12 my-3">
              <img src="{% static 'img/logo.png' %}" class="rounded-circle mx-auto"  style="height: 100px; width: auto;object-fit: cover;">
            </div>
          </div>

          <div class="row">
            <div class="col-12 my-3">
              <h6 class="text-dark"><strong>Who or What is DevResources ?</strong></h6>
              <p class="text-light display-9">DevResources is an <strong>Open Source</strong>, collaboration initiative started with the intention to share all the learning resources needed by <strong>beginner developer</strong> to a <strong>professional</strong> in one place.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12 my-3 ">
              <h6 class="text-dark"><strong>How can you add more resources ?</strong></h6>
              <p class="text-light display-9">We are working on it...</p>
              <!-- <p class="text-light display-9">Simply by <a href="signin_view" class="text-decoration-none">signing in</a>.</p> -->
            </div>
          </div>

          <div class="row">
            <div class="col-12 my-2">
              <button type="button" class="btn btn-dark btn-sm">
                <i class="bi bi-heart text-danger pe-2"></i>Donate
              </button>
            </div>
          </div>

         <!--  <div class="row">
            <div class="col-12">
              <div class="m-auto">
                <a target="_blank" class="text-light btn btn-sm btn-dark border-dark" href="/">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" class="text-light btn btn-sm btn-dark border-dark" href="/">
                  <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" class="text-light btn btn-sm btn-dark border-dark" href="/">
                  <i class="bi bi-discord"></i>
                </a>
              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-12 mt-2">
              <div class="m-auto">
                <a target="_blank" class="text-decoration-underline text-dark" href="https://github.com/hamhaingaurav/devresources">
                  <strong>Github</strong>
                </a>
              </div>
            </div>
          </div>

          <div class="row mb-4 mb-lg-auto">
            <div class="col-12">
              <div class="m-auto">
                <a target="_blank" class="text-decoration-none text-dark" href="https://www.linkedin.com/in/hamhaingaurav/">
                  <span style="font-size: 14px;">Created By - Gaurav Sharma</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- About Section End -->

    </div>
  </div>
</div>

{% endblock %}