{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
  <div class="row height__100vh">
    <div class="col-12 col-lg-8 mb-5">

      <!-- Navbar Start -->
      <nav class="navbar pb-3 pt-4 mb-4">
        <div class="container px-0 px-md-5">
          <a class="navbar-brand text-reset text-decoration-none round__button neumorphic__button" href="/">
            <i class="bi bi-house-fill"></i>
          </a>
          {% if request.user.is_authenticated %}
            <div class="navbar-brand d-flex me-0">
              <a href="{% url 'resource_create_view' %}" class="text-reset text-decoration-none px-3 py-2 neumorphic__button ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add More Resources">
                <i class="bi bi-plus-circle-fill"></i>
              </a>
              <a href="{% url 'profile_view' %}" class="text-reset text-decoration-none px-3 py-2 neumorphic__button ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile">
                <i class="bi bi-person-fill"></i>
              </a>
              <form method="POST" action="{% url 'signout_view' %}">
                {% csrf_token %}
                <button class="px-3 py-2 neumorphic__button ms-2 btn btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="SignOut" aria-label="signout button">
                  <i class="bi bi-box-arrow-right"></i>
                </button>
              </form>
            </div>
          {% else %}
            <div class="navbar-brand d-flex me-0">
              <a href="{% url 'signin_view' %}" class="ms-2 text-reset text-decoration-none px-3 py-2 neumorphic__button">
                <i class="bi bi-box-arrow-in-left"></i> Signin
              </a>
              <a href="{% url 'signup_view' %}" class="ms-2 text-reset text-decoration-none px-3 py-2 neumorphic__button">
                <i class="bi bi-person-fill"></i> Signup
              </a>
            </div>
          {% endif %}
        </div>
      </nav>
      <!-- Navbar End -->
       

      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %} alert-dismissible fade show w-75 mx-auto" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close the notification"></button>
        </div>
        {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
     
      


    </div>
    <div class="col-12 col-lg-4 text-center" style="background: linear-gradient(#e66465, #9198e5);">
      
      <!-- About Section Start -->
      <section class="sticky-top pt-4">
        <!-- <h3 class="text-light pt-4"><strong>about</strong></h3> -->
        <div class="container">

          <div class="row">
            <div class="col-12 my-3">
              <img src="{% static 'img/logo.png' %}" class="rounded-circle mx-auto"  style="height: 100px; width: auto;object-fit: cover;" alt="Dev Junction Logo">
            </div>
          </div>

          <div class="row">
            <div class="col-12 my-3">
              <h6 class="text-dark"><strong>Who or What is DevResources ?</strong></h6>
              <p class="text-light">DevResources is an <strong>Open Source</strong>, collaboration initiative started with the intention to share all the learning resources needed by <strong>beginner developer</strong> to a <strong>professional</strong> in one place.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12 my-3 ">
              <h6 class="text-dark"><strong>How can you add more resources ?</strong></h6>
              {% if request.user.is_authenticated %}
                <p class="text-light">Click on Plus icon at the right corner, or <a href="{% url 'resource_create_view' %}" class="text-decoration-none">Click here.</a></p>
              {% else %}
                <p class="text-light"><a href="{% url 'signin_view' %}" class="text-decoration-none"><strong>Sign in</strong></a> and you are ready to add.</p>
              {% endif %}
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12 my-2">
              <button type="button" class="btn btn-dark btn-sm" aria-label="donate button">
                <i class="bi bi-gift-fill text-danger"></i>
                <strong>Donate</strong>
              </button>
            </div>
          </div> -->

         <!--  <div class="row">
            <div class="col-12">
              <div class="m-auto">
                <a target="_blank" rel="noreferrer" class="text-light btn btn-sm btn-dark border-dark" href="/">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" rel="noreferrer" class="text-light btn btn-sm btn-dark border-dark" href="/">
                  <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" rel="noreferrer" class="text-light btn btn-sm btn-dark border-dark" href="/">
                  <i class="bi bi-discord"></i>
                </a>
              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-12 my-3">
              <div class="m-auto">
                <p class="m-auto">Want to contribute ?</p>
                <a target="_blank" rel="noreferrer" class="text-light btn btn-sm btn-dark" href="https://github.com/hamhaingaurav/devresources">
                  <i class="bi bi-github"></i>
                  <strong>Github</strong>
                </a>
              </div>
            </div>
          </div>

          <div class="row mb-4 mb-lg-auto">
            <div class="col-12">
              <div class="m-auto">
                <a target="_blank" rel="noreferrer" class="text-decoration-none text-dark" href="https://www.linkedin.com/in/hamhaingaurav/">
                  <span style="font-size: 14px;">Made with <i class="bi bi-suit-heart-fill text-danger"></i> by Gaurav Sharma <i class="bi bi-linkedin"></i></span>
                </a><br>
                <a target="_blank" class="text-decoration-none text-dark" href="{% url 'about' %}">
                  <span style="font-size: 14px;"><u>About Us</u> |</span> 
                </a>
                <a target="_blank" class="text-decoration-none text-dark" href="{% url 'contact' %}">
                  <span style="font-size: 14px;">  <u>Contact Us</u></span>
                </a>
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-lg-auto">
            <div class="col-12">
              <div class="m-auto">
                <a href="https://www.buymeacoffee.com/hamhaingaurav"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=hamhaingaurav&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"></a>
                <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="hamhaingaurav" data-description="Support me on Buy me a coffee!" data-message="Hey, thanks for supporting me, it keeps me motivated to build more." data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- About Section End -->

    </div>
  </div>
</div>

{% endblock %}