{% extends 'core/base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css" integrity="sha512-kZqGbhf9JTB4bVJ0G8HCkqmaPcRgo88F0dneK30yku5Y/dep7CZfCnNml2Je/sY4lBoqoksXz4PtVXS4GHSUzQ==" crossorigin="anonymous" />
<style type="text/css">
  .code_snippet__image {
    height: 6rem;
    border-radius: 50%;
    width: 6rem;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row px-md-5">
    <div class="col-12 pb-1 border-bottom">
      <p class="text-success text-center display-6">{{ category_slug|upper }}</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">

      <div class="row justify-content-center">

        {% if all_code_snippets %}
        {% for code_snippet in all_code_snippets %}
        <div class="col-12 pb-4 pt-3">
            <div
              class="card neumorphic__card"
              style="height: 100%;">
              <div class="card-header text-center">
                <h5 class="card-title w-100">{{ code_snippet.title }}</h5>
              </div>
              <div class="card-body p-0"
                style="height: 100%;">
                {% if code_snippet.code %}
                    <pre class="m-0"><code>{{ code_snippet.code }}</code></pre>
                {% endif %}
              </div>
              {% if code_snippet.added_by.full_name %}
              <div class="card-footer p-1 d-flex align-items-end justify-content-end flex-wrap"
                style="height: 100%;">
                <a target="_blank" rel="noreferrer" {% if code_snippet.added_by.website %} href="{{ code_snippet.added_by.website }}" {% endif %}
                  class="text-decoration-none text-reset me-1">
                  <small class="text-light badge bg-dark">
                    by {{ code_snippet.added_by.full_name }}
                  </small>
                </a>
              </div>
              {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center py-4">
          <a href="{% if request.user.is_authenticated %}{% url 'code_snippet_create_view' %}{% else %}{% url 'signin_view' %}{% endif %}"
            class="text-success text-decoration-none neumorphic__button btn" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Add more Code Snippets">
            <i class="bi bi-plus-circle-fill display-6"></i>
          </a>
        </div>
        {% else %}
        <div class="col-12 row text-center mx-auto" id="no_results_text">
          <p class="display-6 text-danger m-0">Oops! no results to display</p>
          <p class="text-muted my-5 h4">But this is not it, you can add more code snippets by yourself.</p>
          <p>
            <a href="{% url 'code_snippet_create_view' %}" class="text-success text-decoration-none neumorphic__button btn">
              <i class="bi bi-plus-circle-fill display-6"></i>
            </a>
          </p>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js" integrity="sha512-s+tOYYcC3Jybgr9mVsdAxsRYlGNq4mlAurOrfNuGMQ/SCofNPu92tjE7YRZCsdEtWL1yGkqk15fU/ark206YTg==" crossorigin="anonymous"></script>
<script>hljs.highlightAll();</script>
{% endblock %}