{% extends 'core/base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block extra_css %}
<style type="text/css">
  .github_gist__image {
    height: 6rem;
    border-radius: 50%;
    width: 6rem;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">

  <div class="row px-md-5">
    <div class="col-12 pb-1 border-bottom">
      <p class="text-success text-center display-6">{{ category_slug|upper }}</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 justify-content-center">

        {% if all_github_gists %}
          {% for github_gist in all_github_gists %}
            <div class="py-5">
              <h5 class="w-100">{{ github_gist.title }}</h5>
              {% if github_gist.embed_code %}
                {{ github_gist.embed_code|safe }}
              {% endif %}
              
              {% if github_gist.added_by.full_name %}
                <div class="p-1 d-flex align-items-end justify-content-center flex-wrap"
                  style="height: 100%;">
                  <a target="_blank" rel="noreferrer" {% if github_gist.added_by.website %} href="{{ github_gist.added_by.website }}" {% endif %}
                    class="text-decoration-none text-reset me-1">
                    <small class="text-light badge bg-dark">
                      by {{ github_gist.added_by.full_name }}
                    </small>
                  </a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="col-12 text-center py-4">
            <a href="{% if request.user.is_authenticated %}{% url 'github_gist_create_view' %}{% else %}{% url 'signin_view' %}{% endif %}"
              class="text-success text-decoration-none neumorphic__button btn" data-bs-toggle="tooltip"
              data-bs-placement="bottom" title="Add more GitHub Gist">
              <i class="bi bi-plus-circle-fill display-6"></i>
            </a>
          </div>
        {% else %}
          <div class="col-12 row text-center mx-auto" id="no_results_text">
            <p class="display-6 text-danger m-0">Oops! no results to display</p>
            <p class="text-muted my-5 h4">But this is not it, you can add more GitHub Gist by yourself.</p>
            <p>
              <a href="{% url 'github_gist_create_view' %}" class="text-success text-decoration-none neumorphic__button btn">
                <i class="bi bi-plus-circle-fill display-6"></i>
              </a>
            </p>
          </div>
        {% endif %}

    </div>
  </div>
</div>

{% endblock %}