<!-- Navbar Start -->
<nav class="navbar pb-3 pt-4 mb-4">
  <div class="container px-0 px-md-5">
    <a class="navbar-brand text-reset text-decoration-none round__button neumorphic__button" href="/">
      <i class="bi bi-house-fill"></i>
    </a>
    {% if request.user.is_authenticated %}
      <div class="navbar-brand d-flex me-0">

        <div class="dropdown text-reset text-decoration-none px-3 py-2 neumorphic__button ms-2">
          <button class="btn p-0" type="button" id="addButtons" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-circle-fill"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="addButtons">
            <li>
              <a href="{% url 'resource_create_view' %}" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add More Resources">Add a Resource</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a href="{% url 'code_snippet_create_view' %}" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add More Code Snippet">Add a Code Snippet by Code Snippet</a>
            </li>
          </ul>
        </div>
        
        <a href="{% url 'profile_view' %}" class="text-reset text-decoration-none px-3 py-2 neumorphic__button ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile">
          <i class="bi bi-person-fill"></i>
        </a>
        <form method="POST" action="{% url 'signout_view' %}">
          {% csrf_token %}
          <button class="px-3 py-2 neumorphic__button ms-2 btn btn-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="SignOut" aria-label="signout button">
            <i class="bi bi-box-arrow-right"></i>
          </button>
        </form>
      </div>
    {% else %}
      <div class="navbar-brand d-flex me-0">
        <a href="{% url 'signin_view' %}" class="ms-2 text-reset text-decoration-none px-3 py-2 neumorphic__button">
          <i class="bi bi-box-arrow-in-left"></i> Sign in
        </a>
        <a href="{% url 'signup_view' %}" class="ms-2 text-reset text-decoration-none px-3 py-2 neumorphic__button">
          <i class="bi bi-person-fill"></i> Sign up
        </a>
      </div>
    {% endif %}
  </div>
</nav>


{% if not request.path == "/" %}
  <div aria-label="breadcrumb" class="container mb-4">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"  class="container neumorphic__button d-flex align-items-center pt-2">
    <ol class="breadcrumb" >
      <li class="breadcrumb-item "><a href="{% url 'home_view' %}" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.get_full_path}}</li>
    </ol>
  </nav>
  </div>
{% endif %}
<!-- Navbar End -->