{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='/' name='app:pageurl'>

    <meta property='og:title' content="DevResources - A developer's destination for all the learning resources at one place. We have hundreds of curated learning resources, grouped together at one place to ease your learning experience.">
    <meta property='og:image' content="{% static 'img/website.png' %}">
    <meta property="og:image:type" content="image/png" />
    <meta property='og:image:width' content='1350'>
    <meta property='og:image:height' content='768'>
    <meta property="og:image:alt" content="DevResources - A developer's destination for all the learning resources at one place. We have hundreds of curated learning resources, grouped together at one place to ease your learning experience." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://devjunction-devresources.herokuapp.com" />
    <meta property="og:description" content="DevResources - A developer's destination for all the learning resources at one place. We have hundreds of curated learning resources, grouped together at one place to ease your learning experience.">
    <meta property='og:site_name' content='DevResources'>

    <meta property='twitter:title' content="DevResources — DevResources - A developer's destination for all the learning resources at one place. We have hundreds of curated learning resources, grouped together at one place to ease your learning experience.">
    <meta property="twitter:description" content="DevResources - A developer's destination for all the learning resources at one place. We have hundreds of curated learning resources, grouped together at one place to ease your learning experience.">
    <meta property='twitter:image' content="{% static 'img/website.jpg' %}">
    <meta name="description" content="DevResources - A developer's destination for all the learning resources at one place. We have hundreds of curated learning resources, grouped together at one place to ease your learning experience.">
    
    <link rel="canonical" href="https://devjunction-devresources.herokuapp.com" />
    <link rel="prefetch" href="https://devjunction-devresources.herokuapp.com" />
    <link rel="prerender" href="https://devjunction-devresources.herokuapp.com" />

    <meta name="keywords" content="devresources, devresources gaurav, devresources django, devresources python tips, devresources django tips, devresources django orm, python, django, web development, software development, projects, online courses, django blogs, devresources learning resources, devresources">

    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3GX7VC9BSJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3GX7VC9BSJ');
    </script>
    
    <title>
      {% if not request.user.is_authenticated %} DevResources  &#183; {% endif %}
      {% block title %} {% endblock %} 
      {% if request.user.is_authenticated %} &#183; DevResources {% endif %}
    </title>

    {% block extra_css %}{% endblock %}

  </head>
  <body onload=preloader()>

    <!-- Preloader -->
    <div class="preloader" id="preloader">
      <div class="preloader-inner">
        <img src="{% static 'img/spinner.svg' %}" alt="Loading...">
      </div>
    </div>
    <!-- End Preloader -->

    {% block body %}{% endblock %}
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock %}

    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <script>
        var preload = document.getElementById("preloader");

        function preloader(){
          preload.style.display = 'none';
        }
    </script>

  </body>
</html>